/* SASS / Social Media Brand Colors */
/* === Global Styles === */
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1.39999rem;
}

p.lead {
  font-weight: 500;
}

a {
  color: #37455e;
}

a:link, a:visited {
  color: #37455e;
}

a:hover {
  text-decoration: none;
  color: #76940a;
}

button, input, .btn, a.btn {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #fff;
}

button:focus {
  outline: none;
}

button {
  margin: 0;
  padding: 0;
}

.sticky {
  width: 100%;
  background: #fff;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.btn {
  font-weight: 500;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  color: #fff;
}

.btn a:hover {
  color: #fff;
}

.btn-hero {
  background: #4e5c76;
  border: 1px solid #fff;
}

.btn-portfolio {
  background: #37455e;
}

.btn-portfolio:hover {
  background: #525d68;
}

.btn-forhire {
  border-radius: 0px;
  background: #76940a;
  width: 100%;
  font-weight: 400;
  color: #fff;
}

.btn-forhire:hover {
  background: #37455e;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

img {
  max-width: 100%;
  height: auto;
}

.border-bottom {
  border-bottom: 1px solid #f5f6f7;
}

.border-right {
  border-right: 1px solid #e8e8e8;
}

.navbar-collapse {
  padding: 0;
}

.navbar-brand {
  padding: 0 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background: transparent;
}

.nav > li > a {
  padding: 10px 15px;
}

.margin-top {
  margin-top: 15px;
}

.visible {
  display: block !important;
}

/********* MODAL **********/
.modal-dialog {
  margin: 0 auto;
}

.modal-content {
  border-radius: 0px;
  max-width: 450px;
  width: 100%;
  margin: auto;
}

.modal-content #hireModalLabel {
  display: block;
  font-weight: 300;
  margin-bottom: 5px;
  font-size: 2.8rem;
  padding: 0;
  text-align: center;
  color: #76940a;
}

#hiremeForm .form-control {
  border-radius: 0px;
}

#hiremeForm input[type="text"],
#hiremeForm input[type="tel"],
#hiremeForm input[type="email"],
#hiremeForm textarea,
#hiremeForm input[type="button"] {
  font: 400 12px/16px Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#hiremeForm input[type="text"]:hover,
#hiremeForm input[type="tel"]:hover,
#hiremeForm input[type="email"]:hover,
#hiremeForm textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #76940a;
}

/* === General Styles === */
body {
  background: #fff;
  font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  overflow: scroll;
  line-height: 20px;
  color: #525d68;
}

/* Sweep To Left */
.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 4px;
}

.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #12213A;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 4px;
}

.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: white;
}

.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.fa-cogs, .fa-wrench, .fa-lightbulb-o {
  color: #76940a;
  padding: 0 7px;
  font-size: 1.3em;
}

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 225px;
  height: 100%;
  background: #37455e;
  opacity: 0.9;
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
  -webkit-transition: ease 0.5s;
  visibility: hidden;
}

.nav-effect {
  visibility: visible;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.nav-effect.menu-open {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.menu-open {
  visibility: visible;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
  -webkit-transition: ease 0.5s;
}

/*** Hamburger Nav Icon ***/
.nav-icon {
  width: 38px;
  position: relative;
  top: 22px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: block;
  height: 24px;
  background: transparent;
  border: none;
}

.nav-icon span {
  display: block;
  height: 2px;
  background: #333;
  width: 100%;
  position: absolute;
}

.nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
}

.nav-icon span:nth-child(2) {
  top: 10px;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
}

.nav-icon span:nth-child(3) {
  top: 20px;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
}

.open-x span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(55deg);
  -ms-transform: rotate(55deg);
  transform: rotate(55deg);
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
}

.open-x span:nth-child(2) {
  display: none;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
}

.open-x span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(125deg);
  -ms-transform: rotate(125deg);
  transform: rotate(125deg);
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
}

/*** Navigation  content style ***/
#navmenu h2 {
  padding: 1em 1em .3em;
  color: #f5f6f7;
  font-size: 2.2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

#navmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#navmenu ul li a {
  display: block;
  padding: 1em 1.2em 1em;
  color: #fff;
  border-bottom: 1px solid #f5f6f7;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  -webkit-transition: background 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, -webkit-box-shadow 0.3s;
  -o-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

#navmenu ul li:first-child a {
  -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #f5f6f7;
}

#navmenu ul li a:hover {
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 -1px transparent;
  box-shadow: inset 0 -1px transparent;
  color: #fff;
}

/* iphone 5 */
@media only screen and (min-width: 320px) {
  /* === Social Header Styles === */
  .social-header {
    height: 40px;
    background: #f8f8f8;
  }
  .social-header .contact-info {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    width: 100%;
  }
  .social-header .contact-info li {
    display: inline-block;
    font-size: .82rem;
    font-weight: 400;
    border-left: 1px solid #e8e8e8;
    padding: 3px 6px;
    line-height: 3.4rem;
  }
  .social-header .social-info {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }
  .social-header .social-info li {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 400;
    border-left: 1px solid #e8e8e8;
    padding: 3px 10px;
    line-height: 3.4rem;
  }
  /* === Nav Menu Styles === */
  .menu-wrapper {
    height: 115px;
    padding: 10px 0;
    background: #fff;
  }
  .menu-wrapper .navbar-custom {
    position: relative;
    border-bottom: 1px solid #f5f6f7;
    padding: 21px 0;
  }
  .menu-wrapper .navbar-custom .logo {
    width: 100%;
  }
  .menu-wrapper .navbar-custom .logo span {
    position: relative;
    top: 12px;
    right: -2px;
    text-align: left;
    float: right;
  }
  /* Nav Menu Fonrt Awesome */
  #navmenu .fa {
    float: right;
    font-size: 20px;
  }
  /* === HERO STYLES === */
  #hero {
    height: 250px;
    background: url("../img/hero-bgv2.jpg") 0 0 no-repeat;
    background-size: cover;
  }
  .hero-info {
    position: relative;
    top: -15px;
  }
  .hero-info h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    padding: 0;
    margin: 5px 0;
    line-height: 3rem;
  }
  .hero-info h6 {
    color: #f5f6f7;
    text-align: left;
    letter-spacing: 2px;
    padding: 2px 0;
    margin: 0 0 0 0px;
  }
  .hero-info a:hover {
    color: #fff;
  }
  .hero-info .hero-sep {
    height: 2px;
    width: 80%;
    margin: 2px 0;
    background: #76940a;
  }
  .hero-info #hero-button {
    position: relative;
    top: 20px;
  }
  .hero-info .btn-hero {
    width: 40%;
    font-size: 1.50rem;
  }
  /* === LAYOUT STYLES === */
  section {
    padding: 35px 0px;
  }
  .section-heading {
    padding: 5px 0;
    text-align: center;
  }
  .section-heading h2 {
    text-transform: uppercase;
    color: #37455e;
    font-weight: 400;
  }
  .section-heading .line {
    height: 2px;
    width: 75px;
    margin: auto;
    background: #76940a;
    position: relative;
    margin: 2px auto;
  }
  .content {
    font-family: inherit;
    font-size: 1.39999rem;
  }
  .content p {
    padding: 7px 15px 4px;
    line-height: 2rem;
  }
  /* === SKILLS STYLES === */
  #skills h3 {
    text-align: center;
  }
  #skills .dev-item {
    display: inline-block;
    border-radius: 50%;
    border: 3px solid #37455e;
    margin: 10px 10px 10px 0;
    font-size: 0.9em;
    text-align: center;
    line-height: 6em;
    color: #22314c;
    width: 90px;
    height: 90px;
  }
  #skills .list {
    list-style: none;
    margin: 0;
  }
  #skills .skill-list {
    padding: 3px 0 3px;
  }
  /* === PORTFOLIO STYLES === */
  #portfolio {
    background: #F5F5F5;
  }
  .item {
    width: 100%;
    border: 1px solid #12213A;
    position: relative;
    z-index: 1;
    padding: 0;
  }
  .item .thumb {
    width: 100%;
    position: relative;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .item .thumb img {
    height: auto;
  }
  .thumb-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    opacity: 0;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
    background: #4e5c76;
  }
  .thumb-overlay .caption h2 {
    font-size: 1.6rem;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 0 5px 0;
  }
  .thumb-overlay .caption .tags {
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    width: 100%;
    z-index: 10;
    display: block;
  }
  .thumb-overlay .caption .tags ul {
    display: block;
    text-align: center;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 0 3px;
    padding: 0;
  }
  .thumb-overlay .caption .tags ul li {
    display: inline-block;
    padding: 2px;
    background-color: #333;
    border: 1px solid #000;
    text-transform: uppercase;
    font-family: arial;
    font-size: .9rem;
    -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    margin: 2px;
    position: relative;
    color: #ccc;
  }
  .thumb-overlay .view {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: block;
  }
  .thumb-overlay .view ul {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .thumb-overlay .view ul li {
    display: inline-block;
    padding: 2px;
    margin: 2px;
    cursor: hand;
  }
  .thumb-overlay .view ul li .fa {
    font-size: 25px;
    margin: 8px 0;
    color: #12213A;
  }
  .thumb-overlay .view ul li .fa:hover {
    color: #76940a;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  .item:hover .thumb-overlay {
    opacity: 0.9;
  }
  /* === ABOUT STYLES === */
  #about #mePhoto {
    background: url("../img/Wesleypic.jpg") no-repeat top center;
    background-size: cover;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    text-align: center;
    width: 135px;
    height: 145px;
    margin: 15px auto 10px;
    border: 1px solid #37455e;
  }
  /* === CONTACT STYLES === */
  #contact {
    background: #F5F5F5;
  }
  #contact .fa {
    font-size: 18px;
    width: 20px;
    margin: auto;
    text-align: center;
  }
  #contact ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #contact li {
    padding: 2px 0;
  }
  #contact #working-on {
    margin: 35px 0 0;
  }
  /* === FOOTER STYLES === */
  #footer {
    background: #12213A;
    padding: 10px 0;
    color: #fff;
  }
}

/* iPhone 6, 6S, 7 & 8 */
@media only screen and (min-width: 375px) {
  /* === Social Header Styles === */
  .social-header .contact-info li {
    font-size: 1.01rem;
  }
  /* === Nav Menu Styles === */
  .menu-wrapper .navbar-custom .logo span {
    right: 37px;
  }
  /* === HERO STYLES === */
  #hero {
    height: 275px;
  }
  .hero-info {
    top: 0px;
  }
  /* === SKILLS STYLES === */
  .dev-list {
    padding: unset;
  }
  /* === LAYOUT STYLES === */
  section {
    padding: 35px 0 75px;
  }
}

/* iPhone 6+, 7+ & 8+ */
/* iPhone X */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* === Social Header Styles === */
  .social-header .contact-info li {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 3px 6px;
  }
  .social-header .social-info li {
    padding: 3px 10px;
    line-height: 3.4rem;
  }
  /* === Nav Menu Styles === */
  .nav-menu {
    width: 300px;
  }
  .menu-wrapper .navbar-custom {
    /** hide and show nav for right device **/
  }
  .menu-wrapper .navbar-custom .logo span {
    position: relative;
    right: 5px;
    text-align: left;
    float: right;
  }
  /* === HERO STYLES === */
  #hero {
    height: 600px;
  }
  .hero-info {
    position: relative;
    top: 130px;
  }
  .hero-info h1 {
    font-size: 60px;
    line-height: 3.2rem;
    margin: 15px 0;
  }
  .hero-info h6 {
    text-align: left;
    letter-spacing: 2px;
    padding: 2px 0;
    margin: 0 0 0 10px;
  }
  .hero-info #hero-button {
    position: relative;
    top: 70px;
  }
  .hero-info .btn-hero {
    width: 25%;
    font-size: 1.95rem;
  }
  #skills h3 {
    text-align: justify;
  }
  #skills .dev-list {
    padding: 0;
  }
  #skills .list {
    padding: 0 0 7px;
  }
  #skills .skill-list {
    padding: 3px 0 3px 7px;
  }
  #contact #working-on {
    margin: 0;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* === Social Header Styles === */
  .social-header .contact-info li {
    font-size: 1.3rem;
  }
  /* === Nav Menu Styles === */
  .menu-wrapper .navbar-custom .logo span {
    right: 80px;
  }
  /* === HERO STYLES === */
  #hero {
    height: 600px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* === Nav Menu Styles === */
  .menu-wrapper .navbar-custom .logo span {
    top: 12px;
    right: 145px;
  }
}

/*# sourceMappingURL=../maps/style.css.map */
