/* SASS / Social Media Brand Colors */
/* === Global Styles === */
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1.39999rem;
}

p.lead {
  font-weight: 500;
}

a {
  color: #37455e;
}

a:link, a:visited {
  color: #37455e;
}

a:hover {
  text-decoration: none;
  color: #76940a;
}

button, input, .btn, a.btn {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #fff;
}

button:focus {
  outline: none;
}

button {
  margin: 0;
  padding: 0;
}

.sticky {
  width: 100%;
  background: #fff;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.btn {
  font-weight: 500;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  color: #fff;
}

.btn a:hover {
  color: #fff;
}

.btn-hero {
  background: #4e5c76;
  border: 1px solid #fff;
}

.btn-portfolio {
  background: #37455e;
}

.btn-portfolio:hover {
  background: #525d68;
}

.btn-forhire {
  border-radius: 0px;
  background: #76940a;
  width: 100%;
  font-weight: 400;
  color: #fff;
}

.btn-forhire:hover {
  background: #37455e;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

img {
  max-width: 100%;
  height: auto;
}

.border-bottom {
  border-bottom: 1px solid #f5f6f7;
}

.border-right {
  border-right: 1px solid #e8e8e8;
}

.navbar-collapse {
  padding: 0;
}

.navbar-brand {
  padding: 0 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background: transparent;
}

.nav > li > a {
  padding: 10px 15px;
}

.margin-top {
  margin-top: 15px;
}

.visible {
  display: block !important;
}

/********* MODAL **********/
.modal-dialog {
  margin: 0 auto;
}

.modal-content {
  border-radius: 0px;
  max-width: 450px;
  width: 100%;
  margin: auto;
}

.modal-content #hireModalLabel {
  display: block;
  font-weight: 300;
  margin-bottom: 5px;
  font-size: 2.8rem;
  padding: 0;
  text-align: center;
  color: #76940a;
}

#hiremeForm .form-control {
  border-radius: 0px;
}

#hiremeForm input[type="text"],
#hiremeForm input[type="tel"],
#hiremeForm input[type="email"],
#hiremeForm textarea,
#hiremeForm input[type="button"] {
  font: 400 12px/16px Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#hiremeForm input[type="text"]:hover,
#hiremeForm input[type="tel"]:hover,
#hiremeForm input[type="email"]:hover,
#hiremeForm textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #76940a;
}

/* === General Styles === */
body {
  background: #fff;
  font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  overflow: scroll;
  line-height: 20px;
  color: #525d68;
}

/* Sweep To Left */
.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 4px;
}

.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #12213A;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 4px;
}

.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: white;
}

.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.progress {
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: none;
  margin: 10px auto 5px;
  position: relative;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  -ms-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  -ms-transform-origin: center right;
  transform-origin: center right;
  -webkit-animation: dev-1 1.8s linear forwards;
  animation: dev-1 1.8s linear forwards;
}

.progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: none;
  font-size: 1.6rem;
  line-height: 94px;
  color: #525d68;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}

.progress.html .progress-bar {
  border-color: #76940a;
}

.progress.css .progress-bar {
  border-color: #76940a;
}

.progress.js .progress-bar {
  border-color: #76940a;
}

.progress.php .progress-bar {
  border-color: #76940a;
}

.progress.wpress .progress-bar {
  border-color: #76940a;
}

.progress.html .progress-left .progress-bar {
  -webkit-animation: html-2 1.5s linear forwards 1.8s;
  animation: html-2 1.5s linear forwards 1.8s;
}

.progress.css .progress-left .progress-bar {
  -webkit-animation: css-2 1.5s linear forwards 1.8s;
  animation: css-2 1.5s linear forwards 1.8s;
}

.progress.js .progress-left .progress-bar {
  -webkit-animation: js-2 1.5s linear forwards 1.8s;
  animation: js-2 1.5s linear forwards 1.8s;
}

.progress.php .progress-left .progress-bar {
  -webkit-animation: php-2 1.5s linear forwards 1.8s;
  animation: php-2 1.5s linear forwards 1.8s;
}

.progress.wpress .progress-left .progress-bar {
  -webkit-animation: wordpress-2 1.5s linear forwards 1.8s;
  animation: wordpress-2 1.5s linear forwards 1.8s;
}

@-webkit-keyframes dev-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes dev-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@-webkit-keyframes html-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(138deg);
    transform: rotate(138deg);
  }
}

@keyframes html-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(138deg);
    transform: rotate(138deg);
  }
}

@-webkit-keyframes css-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(148deg);
    transform: rotate(148deg);
  }
}

@keyframes css-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(148deg);
    transform: rotate(148deg);
  }
}

@-webkit-keyframes js-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(78deg);
    transform: rotate(78deg);
  }
}

@keyframes js-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(78deg);
    transform: rotate(78deg);
  }
}

@-webkit-keyframes php-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
  }
}

@keyframes php-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
  }
}

@-webkit-keyframes wordpress-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}

@keyframes wordpress-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}

@media only screen and (max-width: 990px) {
  .progress {
    margin-bottom: 20px;
  }
}

.st-content {
  overflow-y: scroll;
}

.st-content,
.st-content-inner {
  position: relative;
}

.st-container {
  position: relative;
  overflow: hidden;
}

.st-pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.st-pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  content: '';
}

.st-menu-open .st-pusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.st-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  width: 300px;
  height: 100%;
  background: #37455e;
  opacity: 0.9;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.st-menu::after {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  -o-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* Effect 1: Slide in on top */
.st-effect-1.st-menu {
  visibility: visible;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.st-effect-1.st-menu::after {
  display: none;
}

/*** Hamburger Nav Icon ***/
.nav-icon {
  width: 38px;
  position: relative;
  top: 22px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: block;
  height: 24px;
  background: transparent;
  border: none;
}

.nav-icon span {
  display: block;
  height: 2px;
  background: #333;
  width: 100%;
  position: absolute;
}

.nav-icon span:nth-child(1) {
  top: 0px;
}

.nav-icon span:nth-child(2) {
  top: 10px;
}

.nav-icon span:nth-child(3) {
  top: 20px;
}

/*** Pop Out Navigation  content style ***/
#mobilemenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#mobilemenu h2 {
  padding: 1em 1em .3em;
  color: #f5f6f7;
  font-size: 2.2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

#mobilemenu ul li a {
  display: block;
  padding: 1em 1.2em 1em;
  color: #fff;
  border-bottom: 1px solid #f5f6f7;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  -webkit-transition: background 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, -webkit-box-shadow 0.3s;
  -o-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

#mobilemenu ul li:first-child a {
  -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #f5f6f7;
}

#mobilemenu ul li a:hover {
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 -1px transparent;
  box-shadow: inset 0 -1px transparent;
  color: #fff;
}

/* === Social Header Styles === */
.social-header {
  height: 40px;
  background: #f8f8f8;
}

.social-header .contact-info {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  width: 100%;
}

.social-header .contact-info li {
  display: inline-block;
  font-size: 1.09rem;
  font-weight: 400;
  border-left: 1px solid #e8e8e8;
  padding: 3px 6px;
  line-height: 3.4rem;
}

.social-header .social-info {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.social-header .social-info li {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  border-left: 1px solid #e8e8e8;
  padding: 3px 10px;
  line-height: 3.4rem;
}

/* === Nav Menu Styles === */
.menu-wrapper {
  height: 100px;
  padding: 15px 0;
  background: #fff;
}

.menu-wrapper .navbar-custom {
  position: relative;
  border-bottom: 1px solid #f5f6f7;
  padding: 10px 0;
  /** hide and show nav for right device **/
}

.menu-wrapper .navbar-custom .logo {
  width: 100%;
}

.menu-wrapper .navbar-custom .logo span {
  position: relative;
  top: 12px;
  right: 50px;
  text-align: left;
  float: right;
}

.menu-wrapper .navbar-custom .desktop {
  display: none;
}

.menu-wrapper .navbar-custom .mobile {
  display: block;
}

#mobilemenu .fa {
  float: right;
  font-size: 20px;
}

/* === HERO STYLES === */
#hero {
  height: 400px;
  background: url("../img/hero-bgv2.jpg") 0 0 no-repeat;
  background-size: cover;
}

.hero-info {
  position: relative;
  top: 50px;
}

.hero-info h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  padding: 0;
  line-height: 1.5rem;
}

.hero-info h6 {
  color: #f5f6f7;
  text-align: left;
  letter-spacing: 2px;
  padding: 2px 0;
  margin: 0 0 0 10px;
}

.hero-info a:hover {
  color: #fff;
}

.hero-info .hero-sep {
  height: 2px;
  width: 80%;
  margin: 2px 0;
  background: #76940a;
}

.hero-info #hero-button {
  position: relative;
  top: 70px;
}

.hero-info .btn-hero {
  width: 40%;
  font-size: 1.50rem;
}

/* === LAYOUT STYLES === */
section {
  padding: 12px 0;
}

.section-heading {
  padding: 5px 0;
  text-align: center;
}

.section-heading h2 {
  text-transform: uppercase;
  color: #37455e;
  font-weight: 400;
}

.section-heading .line {
  height: 2px;
  width: 75px;
  margin: auto;
  background: #76940a;
  position: relative;
  margin: 2px auto;
}

.content {
  font-family: inherit;
  font-size: 1.39999rem;
}

.content p {
  padding: 7px 15px 4px;
  line-height: 2rem;
}

/* === SKILLS STYLES === */
.pp-wrap {
  margin: 15px auto;
  text-align: center;
}

.pp-wrap h5 {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 500;
}

/* === PORTFOLIO STYLES === */
#portfolio {
  background: #F5F5F5;
}

.item {
  width: 100%;
  border: 1px solid #12213A;
  position: relative;
  z-index: 1;
  padding: 0;
}

.item .thumb {
  width: 100%;
  position: relative;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.item .thumb img {
  height: auto;
}

.thumb-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  opacity: 0;
  -webkit-transition: .8s ease;
  -o-transition: .8s ease;
  transition: .8s ease;
  background: #4e5c76;
}

.thumb-overlay .caption h2 {
  font-size: 1.6rem;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  text-align: center;
  letter-spacing: 0.2rem;
  padding: 0 5px 0;
}

.thumb-overlay .caption .tags {
  position: relative;
  top: 0;
  left: 0;
  text-align: left;
  width: 100%;
  z-index: 10;
  display: block;
}

.thumb-overlay .caption .tags ul {
  display: block;
  text-align: center;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin: 0 3px;
  padding: 0;
}

.thumb-overlay .caption .tags ul li {
  display: inline-block;
  padding: 2px;
  background-color: #333;
  border: 1px solid #000;
  text-transform: uppercase;
  font-family: arial;
  font-size: .9rem;
  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  margin: 2px;
  position: relative;
  color: #ccc;
}

.thumb-overlay .caption .view {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: block;
}

.thumb-overlay .caption .view ul {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}

.thumb-overlay .caption .view ul li {
  display: inline-block;
  padding: 2px;
  margin: 2px;
}

.thumb-overlay .caption .view ul li .fa {
  font-size: 25px;
  margin: 8px 0;
  color: #12213A;
}

.thumb-overlay .caption .view ul li .fa:hover {
  color: #76940a;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.item:hover .thumb-overlay {
  opacity: 0.9;
}

/* === ABOUT STYLES === */
#about #mePhoto {
  background: url("../img/Wesleypic.jpg") no-repeat center;
  background-size: 153px 150px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  text-align: center;
  width: 150px;
  height: 150px;
  margin: 15px auto 10px;
  border: 1px solid #37455e;
}

/* === CONTACT STYLES === */
#contact {
  background: #F5F5F5;
}

#contact .fa {
  font-size: 18px;
  width: 20px;
  margin: auto;
  text-align: center;
}

#contact ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

#contact li {
  padding: 2px 0;
}

/* === FOOTER STYLES === */
#footer {
  background: #12213A;
  padding: 10px 0;
  color: #fff;
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* === Social Header Styles === */
  .social-header .contact-info li {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 3px 6px;
  }
  .social-header .social-info li {
    padding: 3px 10px;
    line-height: 3.4rem;
  }
  /* === Nav Menu Styles === */
  .menu-wrapper .navbar-custom {
    /** hide and show nav for right device **/
  }
  .menu-wrapper .navbar-custom .logo span {
    position: relative;
    right: 5px;
    text-align: left;
    float: right;
  }
  .menu-wrapper .navbar-custom .desktop {
    display: block;
  }
  .menu-wrapper .navbar-custom .mobile {
    display: none;
  }
  /* === HERO STYLES === */
  #hero {
    height: 600px;
    background: url("../img/hero-bgv2.jpg") 0 0 no-repeat;
    background-size: cover;
  }
  .hero-info {
    position: relative;
    top: 130px;
  }
  .hero-info h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    padding: 0;
    line-height: 3.2rem;
  }
  .hero-info h6 {
    text-align: left;
    letter-spacing: 2px;
    padding: 2px 0;
    margin: 0 0 0 10px;
  }
  .hero-info a:hover {
    color: #fff;
  }
  .hero-info #hero-button {
    position: relative;
    top: 70px;
  }
  .hero-info .btn-hero {
    width: 25%;
    font-size: 1.95rem;
  }
  /* === SKILLS STYLES === */
  .progress-pod {
    position: relative;
    margin-bottom: 15px;
  }
  .pp-wrap {
    margin: 15px auto;
    text-align: center;
  }
  .pp-wrap h5 {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 500;
  }
  /* === PORTFOLIO STYLES === */
  .thumb-overlay .caption h2 {
    height: 30px;
    line-height: 30px;
    padding: 0 5px 0;
  }
  .thumb-overlay .caption .tags {
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    width: 100%;
    z-index: 10;
    display: block;
  }
  .thumb-overlay .caption .tags ul {
    display: block;
    text-align: center;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 0 3px;
    padding: 0;
  }
  .thumb-overlay .caption .tags ul li {
    display: inline-block;
    padding: 2px;
    background-color: #313131;
    border: 1px solid #222;
    text-transform: uppercase;
    font-family: arial;
    font-size: .9rem;
    -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    margin: 2px;
    position: relative;
  }
  .thumb-overlay .caption .view {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: block;
  }
  .thumb-overlay .caption .view ul {
    display: block;
    text-align: center;
  }
  .thumb-overlay .caption .view ul li {
    display: inline-block;
    padding: 2px;
    margin: 2px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* === Social Header Styles === */
  .social-header .contact-info li {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 3px 6px;
  }
  .social-header .social-info li {
    padding: 3px 10px;
    line-height: 3.4rem;
  }
  /* === Nav Menu Styles === */
  .menu-wrapper .navbar-custom {
    /** hide and show nav for right device **/
  }
  .menu-wrapper .navbar-custom .logo span {
    position: relative;
    right: 80px;
    text-align: left;
    float: right;
  }
  .menu-wrapper .navbar-custom .desktop {
    display: block;
  }
  .menu-wrapper .navbar-custom .mobile {
    display: none;
  }
  /* === PORTFOLIO STYLES === */
  .thumb-overlay .caption h2 {
    height: 30px;
    line-height: 30px;
    padding: 0 5px 0;
  }
  .thumb-overlay .caption .tags {
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    width: 100%;
    z-index: 10;
    display: block;
  }
  .thumb-overlay .caption .tags ul {
    display: block;
    text-align: center;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 0 3px;
    padding: 0;
  }
  .thumb-overlay .caption .tags ul li {
    display: inline-block;
    padding: 2px;
    background-color: #313131;
    border: 1px solid #222;
    text-transform: uppercase;
    font-family: arial;
    font-size: .9rem;
    -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    margin: 2px;
    position: relative;
  }
  .thumb-overlay .caption .view {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: block;
  }
  .thumb-overlay .caption .view ul {
    display: block;
    text-align: center;
  }
  .thumb-overlay .caption .view ul li {
    display: inline-block;
    padding: 2px;
    margin: 2px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* === Nav Menu Styles === */
  .menu-wrapper .navbar-custom {
    /** hide and show nav for right device **/
  }
  .menu-wrapper .navbar-custom .logo span {
    position: relative;
    top: 12px;
    right: 145px;
    text-align: left;
    float: right;
  }
  .menu-wrapper .navbar-custom .desktop {
    display: block;
  }
  .menu-wrapper .navbar-custom .mobile {
    display: none;
  }
  /* === PORTFOLIO STYLES === */
  .thumb-overlay .caption h2 {
    height: 30px;
    line-height: 30px;
    padding: 0 5px 0;
  }
  .thumb-overlay .caption .tags {
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    width: 100%;
    z-index: 10;
    display: block;
  }
  .thumb-overlay .caption .tags ul {
    display: block;
    text-align: center;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 0 3px;
    padding: 0;
  }
  .thumb-overlay .caption .tags ul li {
    display: inline-block;
    padding: 2px;
    background-color: #313131;
    border: 1px solid #222;
    text-transform: uppercase;
    font-family: arial;
    font-size: .9rem;
    -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    margin: 2px;
    position: relative;
  }
  .thumb-overlay .caption .view {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: block;
  }
  .thumb-overlay .caption .view ul {
    display: block;
    text-align: center;
  }
  .thumb-overlay .caption .view ul li {
    display: inline-block;
    padding: 2px;
    margin: 2px;
  }
}

/*# sourceMappingURL=../maps/style.css.map */
