#hiremeForm {

    .form-group {

    }

    .form-control {
        border-radius: 0px;
    }
}

#hiremeForm input[type="text"],
#hiremeForm input[type="tel"],
#hiremeForm input[type="email"],
#hiremeForm textarea,
#hiremeForm input[type="button"] {
    font: 400 12px/16px $font-main;
    width: 100%;
    border: 1px solid #ccc;
    background: $white;
    margin: 0 0 5px;
    padding: 10px;
}

#hiremeForm input[type="text"]:hover,
#hiremeForm input[type="tel"]:hover,
#hiremeForm input[type="email"]:hover,
#hiremeForm textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid $portfolio-alt;
;
}