/* === Global Styles === */
h1,h2,h3,h4,h5,h6 {
	@include sexy-text;
	font-weight: $medium;
}

h1 {
	font-size: $text-h1;
}

h2 { font-size: $text-h2;

}

h3 { font-size: $text-h3;

}

h4 { font-size: $text-h4;

}

h5 {
	font-size: $text-h5;
}

h6 {
	font-size: $text-h6;
}

p { font-size: $text-p;

}

p.lead {
	font-weight: $medium;
}

a {
	color: $main-portfolio;
}

a:link, a:visited {
	color: $main-portfolio;
}

a:hover {
	text-decoration: none;
	color: $portfolio-alt;
}

button, input, .btn, a.btn {
	@include sexy-text;
	color: #fff;
}

button:focus {
	outline: none;
}

button {
	margin: 0;
	padding: 0;
}

.sticky {
	width: 100%;
	background: $white;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

.btn {
	font-weight: $medium;
}

.btn:focus {
	outline: none;
}

.btn:hover {
	color: $white;
}

.btn a:hover {
	color: $white;
}

.btn-hero {
	background: $mainalt-3;
	border: 1px solid $white;

}

.btn-portfolio {
	background: $btn-main;
}

.btn-portfolio:hover {
	background: $btn-hover;
}

.btn-forhire {
	border-radius: 0px;
	background: $portfolio-alt;
	width: 100%;
	font-weight: 400;
	color: $white;
}

.btn-forhire:hover {
	background: $btn-main;
	@include btn-transition;

}



img {
	max-width:100%;
	height: auto;
}


.border-bottom {
		border-bottom: 1px solid $border-color;
	}

.border-right {
	border-right:1px solid #e8e8e8; 
}


.navbar-collapse {
	padding: 0;
	}

.navbar-brand {
	padding: 0 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background: transparent;
}

.nav > li > a {
	padding: 10px 15px;

}

.margin-top {
	margin-top:15px;
}

.visible {
	display: block !important;
}


/********* MODAL **********/

#modal {
	#modal-header {
		
	}

}

.modal-dialog {
	margin: 0 auto;
}

.modal-content {
	border-radius: 0px;
	max-width: 450px;
	width: 100%;
	margin: auto;

	#hireModalLabel {
			display: block;
			font-weight: 300;
			margin-bottom: 5px;
			font-size: 2.8rem;
			padding: 0;
			text-align: center;
			color: $portfolio-alt;
		}
}