
.nav-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 225px;
	height: 100%;
	background: $main-portfolio;
	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	transition: ease 0.5s;
	-webkit-transition: ease 0.5s;
	visibility: hidden;
}

.nav-effect {
	visibility: visible;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.nav-effect.menu-open {
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}



.menu-open {
	visibility: visible;
	transition: ease 0.5s;
	-webkit-transition: ease 0.5s;
}


/*** Hamburger Nav Icon ***/
.nav-icon {
	width: 38px;
	position: relative;
	top: 22px;
	transform: rotate(0deg);
    transition: .5s ease-in-out;
	cursor: pointer;
	display: block;
	height: 24px;
	background: transparent;
	border: none;;

	span {
		display: block;
		height: 2px;
		background: #333;
		width: 100%;
		position: absolute;
	}

	span:nth-child(1) {
		top: 0px;
		transition: ease 0.5s;
    }

    span:nth-child(2) {
		top: 10px;
		transition: ease 0.5s;
    }

    span:nth-child(3) {
		top: 20px;
		transition: ease 0.5s;
    }
}

.open-x {
	span:nth-child(1) {
		top: 18px;
		transform: rotate(55deg);
		transition: ease 0.5s;
    }

    span:nth-child(2) {
		display: none;
		transition: ease 0.5s;
    }

    span:nth-child(3) {
        top: 18px;
		transform: rotate(125deg);
		transition: ease 0.5s;
    }

}


/*** Navigation  content style ***/

#navmenu h2 {
	padding: 1em 1em .3em;
	color: $border-color;
	font-size: $text-h2;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

#navmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#navmenu ul li a {
	display: block;
	padding: 1em 1.2em 1em;
	color: $white;
	border-bottom: 1px solid $border-color;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

#navmenu ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
    border-top: 1px solid $border-color;
}

#navmenu ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}