html,
body,
.st-container,
.st-pusher,
.st-content {
	// height: 100%;
}

.st-content {
	overflow-y: scroll;
}

.st-content,
.st-content-inner {
	position: relative;
}

.st-container {
	position: relative;
	overflow: hidden;
}

.st-pusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.st-pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	// background: rgba(0,0,0,0.2);
	content: '';
	// opacity: 0;
	// -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	// transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	visibility: hidden;
	width: 300px;
	height: 100%;
	background: $main-portfolio;
	opacity: 0.9;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.st-menu::after {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* Effect 1: Slide in on top */
.st-effect-1.st-menu {
	visibility: visible;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.st-effect-1.st-menu::after {
	display: none;
}

/*** Hamburger Nav Icon ***/
.nav-icon {
    width: 38px;
    position: relative;
    top: 22px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    display: block;
    height: 24px;
    background: transparent;
    border: none;
    span {
        display: block;
        height: 2px;
        background: #333;
        width: 100%;
        position: absolute;
    }
    span:nth-child(1) {
        top: 0px;
    }

    span:nth-child(2) {
        top: 10px;
    }

    span:nth-child(3) {
        top: 20px;
    }

}

/*** Pop Out Navigation  content style ***/

#mobilemenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#mobilemenu h2 {
    padding: 1em 1em .3em;
    color: $border-color;
    font-size: $text-h2;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

#mobilemenu ul li a {
    display: block;
    padding: 1em 1.2em 1em;
    color: $white;
    border-bottom: 1px solid $border-color;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

#mobilemenu ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
    border-top: 1px solid $border-color;
}

#mobilemenu ul li a:hover {
    background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;

}

