//Colors
$white: #fff;

//Primary Colors

/* SASS / Social Media Brand Colors */
$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$vimeo: #1ab7ea;
$tumblr: #32506d;
$instagram: #bc2a8d;
$flickr: #ff0084;
$dribbble: #ea4c89;
$quora: #a82400;
$foursquare: #0072b1;
$forrst: #5B9A68;
$vk: #45668e;
$wordpress: #21759b;
$stumbleupon: #EB4823;
$yahoo: #7B0099;
$blogger: #fb8f3d;
$soundcloud: #ff3a00;

//Font Weight
$light: 300;
$normal: normal;
$medium: 400;
$thick: bold;
$thicker: 900;

//Typography
$font-main: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-weight: $normal;
$heading-weight: $thick;

//Font Sizes
$text-h1:3rem;
$text-h2:2.5rem;
$text-h3:2rem;
$text-h4:1.75rem;
$text-nav:1.4rem;
$text-p: 13px;
$line-height: 1.4em;
$small-text: 1.2rem;

$main-heading: $text-h1;
$section-headings: $text-h2;

//Button Variables